@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes zoomOut {
  from {
    transform: scale(3);
  }
  to {
    transform: scale(1);
  }
}

.map-zoom-animation {
  transform: scale(1.7);
  transition: transform 0.3s ease-out;
}

.map-zoom-animation.zoomed-out {
  transform: scale(1);
}

